<?xml version="1.0"?>
<config>
    <modules>
        <Dotsource_Paymentoperator>
            <version>1.7.0.0.4</version>
        </Dotsource_Paymentoperator>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <paymentoperator_transaction_id><to_order_payment>*</to_order_payment></paymentoperator_transaction_id>
                <eft_owner><to_order_payment>*</to_order_payment></eft_owner>
                <eft_ban_enc><to_order_payment>*</to_order_payment></eft_ban_enc>
                <eft_ban4><to_order_payment>*</to_order_payment></eft_ban4>
                <eft_bcn><to_order_payment>*</to_order_payment></eft_bcn>
                <cc_prefill_information><to_order_payment>*</to_order_payment></cc_prefill_information>
                <klarna_dob><to_order_payment>*</to_order_payment></klarna_dob>
                <klarna_gender><to_order_payment>*</to_order_payment></klarna_gender>
                <klarna_ssn><to_order_payment>*</to_order_payment></klarna_ssn>
                <klarna_annual_salary><to_order_payment>*</to_order_payment></klarna_annual_salary>
                <billpay_salutation><to_order_payment>*</to_order_payment></billpay_salutation>
                <billpay_company_name><to_order_payment>*</to_order_payment></billpay_company_name>
                <billpay_company_legal_form><to_order_payment>*</to_order_payment></billpay_company_legal_form>
                <billpay_dob><to_order_payment>*</to_order_payment></billpay_dob>
                <billpay_eft_owner><to_order_payment>*</to_order_payment></billpay_eft_owner>
                <billpay_eft_ban_enc><to_order_payment>*</to_order_payment></billpay_eft_ban_enc>
                <billpay_eft_ban3><to_order_payment>*</to_order_payment></billpay_eft_ban3>
                <billpay_eft_bcn><to_order_payment>*</to_order_payment></billpay_eft_bcn>
                <billpay_general_terms><to_order_payment>*</to_order_payment></billpay_general_terms>
                <billpay_term><to_order_payment>*</to_order_payment></billpay_term>
                <billpay_receiver_owner><to_order_payment>*</to_order_payment></billpay_receiver_owner>
                <billpay_receiver_ban_enc><to_order_payment>*</to_order_payment></billpay_receiver_ban_enc>
                <billpay_receiver_bcn><to_order_payment>*</to_order_payment></billpay_receiver_bcn>
                <billpay_receiver_bank_name><to_order_payment>*</to_order_payment></billpay_receiver_bank_name>
                <billpay_receiver_invoice_ref><to_order_payment>*</to_order_payment></billpay_receiver_invoice_ref>
                <billpay_receiver_invoice_date><to_order_payment>*</to_order_payment></billpay_receiver_invoice_date>
                <billpay_transaction_id><to_order_payment>*</to_order_payment></billpay_transaction_id>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <paymentoperator_transaction_id><to_quote_payment>*</to_quote_payment></paymentoperator_transaction_id>
                <eft_owner><to_quote_payment>*</to_quote_payment></eft_owner>
                <eft_ban_enc><to_quote_payment>*</to_quote_payment></eft_ban_enc>
                <eft_ban4><to_quote_payment>*</to_quote_payment></eft_ban4>
                <eft_bcn><to_quote_payment>*</to_quote_payment></eft_bcn>
                <cc_prefill_information><to_quote_payment>*</to_quote_payment></cc_prefill_information>
                <klarna_dob><to_quote_payment>*</to_quote_payment></klarna_dob>
                <klarna_gender><to_quote_payment>*</to_quote_payment></klarna_gender>
                <klarna_ssn><to_quote_payment>*</to_quote_payment></klarna_ssn>
                <klarna_annual_salary><to_quote_payment>*</to_quote_payment></klarna_annual_salary>
                <billpay_salutation><to_quote_payment>*</to_quote_payment></billpay_salutation>
                <billpay_company_name><to_quote_payment>*</to_quote_payment></billpay_company_name>
                <billpay_company_legal_form><to_quote_payment>*</to_quote_payment></billpay_company_legal_form>
                <billpay_dob><to_quote_payment>*</to_quote_payment></billpay_dob>
                <billpay_eft_owner><to_quote_payment>*</to_quote_payment></billpay_eft_owner>
                <billpay_eft_ban_enc><to_quote_payment>*</to_quote_payment></billpay_eft_ban_enc>
                <billpay_eft_ban3><to_quote_payment>*</to_quote_payment></billpay_eft_ban3>
                <billpay_eft_bcn><to_quote_payment>*</to_quote_payment></billpay_eft_bcn>
                <billpay_general_terms><to_quote_payment>*</to_quote_payment></billpay_general_terms>
                <billpay_term><to_quote_payment>*</to_quote_payment></billpay_term>
                <billpay_receiver_owner><to_quote_payment>*</to_quote_payment></billpay_receiver_owner>
                <billpay_receiver_ban_enc><to_quote_payment>*</to_quote_payment></billpay_receiver_ban_enc>
                <billpay_receiver_bcn><to_quote_payment>*</to_quote_payment></billpay_receiver_bcn>
                <billpay_receiver_bank_name><to_quote_payment>*</to_quote_payment></billpay_receiver_bank_name>
                <billpay_receiver_invoice_ref><to_quote_payment>*</to_quote_payment></billpay_receiver_invoice_ref>
                <billpay_receiver_invoice_date><to_quote_payment>*</to_quote_payment></billpay_receiver_invoice_date>
                <billpay_transaction_id><to_quote_payment>*</to_quote_payment></billpay_transaction_id>
            </sales_convert_order_payment>
            <sales_convert_quote_address>
                <paymentoperator_checked_address_hash>
                    <to_customer_address>*</to_customer_address>
                    <to_order_address>*</to_order_address>
                </paymentoperator_checked_address_hash>
            </sales_convert_quote_address>
            <customer_address>
                <paymentoperator_checked_address_hash>
                    <to_quote_address>*</to_quote_address>
                </paymentoperator_checked_address_hash>
            </customer_address>
        </fieldsets>
        <models>
            <paymentoperator>
                <class>Dotsource_Paymentoperator_Model</class>
                <resourceModel>paymentoperator_mysql4</resourceModel>
            </paymentoperator>
            <paymentoperator_mysql4>
                <class>Dotsource_Paymentoperator_Model_Mysql4</class>
                <entities>
                    <action>
                        <table>paymentoperator_action</table>
                    </action>
                    <transaction>
                        <table>paymentoperator_transaction</table>
                    </transaction>
                </entities>
            </paymentoperator_mysql4>
            <sales>
                <rewrite>
                    <order_payment>Dotsource_Paymentoperator_Model_Rewrite_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <paymentoperator>
                <class>Dotsource_Paymentoperator_Helper</class>
            </paymentoperator>
        </helpers>
        <blocks>
            <paymentoperator>
                <class>Dotsource_Paymentoperator_Block</class>
            </paymentoperator>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Dotsource_Paymentoperator_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_grid>Dotsource_Paymentoperator_Block_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
            <paypal>
                <rewrite>
                    <adminhtml_system_config_fieldset_hint>Dotsource_Paymentoperator_Block_Rewrite_Paypal_Adminhtml_System_Config_Fieldset_Hint</adminhtml_system_config_fieldset_hint>
                </rewrite>
            </paypal>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Dotsource_Paymentoperator_Block_Rewrite_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                    <onepage_billing>Dotsource_Paymentoperator_Block_Rewrite_Checkout_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_totals>Dotsource_Paymentoperator_Block_Email_Billpay_Order_Ratepay</order_totals>
                    <order_invoice_totals>Dotsource_Paymentoperator_Block_Email_Billpay_Order_Invoice_Ratepay</order_invoice_totals>
                </rewrite>
            </sales>
        </blocks>
        <resources>
            <paymentoperator_setup>
                <setup>
                    <module>Dotsource_Paymentoperator</module>
                    <class>Dotsource_Paymentoperator_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymentoperator_setup>
            <paymentoperator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymentoperator_write>
            <paymentoperator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymentoperator_read>
        </resources>
        <sales>
            <order>
                <statuses>
                    <waiting_capture_poperator_note translate="label"><label>Waiting For Capture Notification</label></waiting_capture_poperator_note>
                    <waiting_auth_poperator_note translate="label"><label>Waiting For Authorization Notification</label></waiting_auth_poperator_note>
                    <ready_poperator_capture translate="label"><label>Ready For PaymentOperator Capture Action</label></ready_poperator_capture>
                    <waiting_ship_purchase_acc translate="label"><label>Waiting For Shipping With Purchase On Account</label></waiting_ship_purchase_acc>
                    <ready_capture_purchase_acc translate="label"><label>Ready For Capture With Purchase On Account</label></ready_capture_purchase_acc>
                    <klarna_ready_for_shipping translate="label"><label>Klarna: Ready for Shipping</label></klarna_ready_for_shipping>
                    <billpay_ready_for_capture translate="label"><label>Billpay: Ready to Ship/Invoice</label></billpay_ready_for_capture>
                </statuses>
            </order>
        </sales>
        <events>
            <sales_order_resource_init_virtual_grid_columns>
                <observers>
                    <check_for_online_refund>
                        <class>paymentoperator/observer</class>
                        <method>onSalesOrderResourceInitVirtualGridColumns</method>
                    </check_for_online_refund>
                </observers>
            </sales_order_resource_init_virtual_grid_columns>
            
            <sales_order_creditmemo_refund>
                <observers>
                    <check_for_online_refund>
                        <class>paymentoperator/observer</class>
                        <method>onSalesOrderCreditmemoRefund</method>
                    </check_for_online_refund>
                </observers>
            </sales_order_creditmemo_refund>
            
            <sales_order_invoice_pay>
                <observers>
                    <check_for_online_invoice>
                        <class>paymentoperator/observer</class>
                        <method>onSalesOrderInvoicePay</method>
                    </check_for_online_invoice>
                </observers>
            </sales_order_invoice_pay>
            
            <adminhtml_block_html_before>
                <observers>
                    <paymentoperator_adminhtml_block_html_before_massaction>
                        <class>paymentoperator/observer</class>
                        <method>onAdminhtmlBlockHtmlBefore</method>
                    </paymentoperator_adminhtml_block_html_before_massaction>
                </observers>
            </adminhtml_block_html_before>
            
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <controller_action_predispatch_checkout_cart_index_recreate_paymentoperator_transaction>
                        <class>paymentoperator/observer</class>
                        <method>deletePaymentoperatorTransaction</method>
                    </controller_action_predispatch_checkout_cart_index_recreate_paymentoperator_transaction>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <controller_action_predispatch_checkout_onepage_index_recreate_paymentoperator_transaction>
                        <class>paymentoperator/observer</class>
                        <method>deletePaymentoperatorTransaction</method>
                    </controller_action_predispatch_checkout_onepage_index_recreate_paymentoperator_transaction>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            
            <!-- At this event we filter all payments with a previous risk check response -->
            <payment_method_is_active>
                <observers>
                    <paymentoperator_risk_filter_payments>
                        <class>paymentoperator/observer_risk</class>
                        <method>doDryRiskCheck</method>
                    </paymentoperator_risk_filter_payments>
                </observers>
            </payment_method_is_active>
            
            <!-- Check at the end of the place order if the the current payment is available for the customer risk value -->
            <sales_order_place_before>
                <observers>
                    <paymentoperator_risk_check_on_place_order>
                        <class>paymentoperator/observer_risk</class>
                        <method>doRiskCheck</method>
                    </paymentoperator_risk_check_on_place_order>
                </observers>
            </sales_order_place_before>
            
            <!-- Sync the paymentoperator risk response to the customer object -->
            <sales_order_place_after>
                <observers>
                    <paymentoperator_risk_sync_response>
                        <class>paymentoperator/observer_risk</class>
                        <method>syncRiskResponse</method>
                    </paymentoperator_risk_sync_response>
                </observers>
            </sales_order_place_after>
            
            <!-- Clean risk checkout session at the end of the checkout process -->
            <checkout_submit_all_after>
                <observers>
                    <paymentoperator_risk_session_clean>
                        <class>paymentoperator/observer_risk</class>
                        <method>clearRiskSession</method>
                    </paymentoperator_risk_session_clean>
                </observers>
            </checkout_submit_all_after>
            
            <!-- Additional check for risk check to include address feature -->
            <paymentoperator_risk_check_isAvailable>
                <observers>
                    <paymentoperator_risk_check_is_available>
                        <class>paymentoperator/observer_address</class>
                        <method>onRiskCheckIsAddressCheckAvailable</method>
                    </paymentoperator_risk_check_is_available>
                </observers>
            </paymentoperator_risk_check_isAvailable>
            
            <!-- Additional check for risk check if we can send a request to paymentoperator -->
            <paymentoperator_risk_check_isAllowToSendRequest>
                <observers>
                    <paymentoperator_risk_check_valid_address_check_address>
                        <class>paymentoperator/observer_address</class>
                        <method>onRiskCheckIsAddressCheckValid</method>
                    </paymentoperator_risk_check_valid_address_check_address>
                </observers>
            </paymentoperator_risk_check_isAllowToSendRequest>
            
           <!-- Clear the risk model cache from the observer -->
            <paymentoperator_risk_request_was_sent>
                <observers>
                    <paymentoperator_risk_observer_risk_model_cache>
                        <class>paymentoperator/observer_risk</class>
                        <method>clearRiskModelCache</method>
                    </paymentoperator_risk_observer_risk_model_cache>
                </observers>
            </paymentoperator_risk_request_was_sent>
            
            
            <!-- If a invoice will create manually throw an error -->
            <sales_order_invoice_pay>
                <observers>
                    <paymentoperator_klarna_block_invoice_create>
                        <class>paymentoperator/observer_klarna</class>
                        <method>onInvoiceCreate</method>
                    </paymentoperator_klarna_block_invoice_create>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_payment_capture>
                <observers>
                    <paymentoperator_klarna_block_invoice_create>
                        <class>paymentoperator/observer_klarna</class>
                        <method>onInvoiceCreate</method>
                    </paymentoperator_klarna_block_invoice_create>
                </observers>
            </sales_order_payment_capture>
            
            
            <!-- Create the invoice on shipment create for klarna -->
            <sales_order_shipment_save_before>
                <observers>
                    <paymentoperator_klarna_create_invoice_manual>
                        <class>paymentoperator/observer_klarna</class>
                        <method>onShipmentCreate</method>
                    </paymentoperator_klarna_create_invoice_manual>
                    <paymentoperator_billpay_create_invoice_with_shipment>
                        <class>paymentoperator/payment_observer_billpay_billpay</class>
                        <method>onShipmentCreate</method>
                    </paymentoperator_billpay_create_invoice_with_shipment>
                </observers>
            </sales_order_shipment_save_before>
            
            <!-- Active the redirect message in the payment info block -->
            <controller_action_predispatch_checkout_onepage_progress>
                <observers>
                    <paymentoperator_show_payment_info_block_redirect_msg>
                        <class>paymentoperator/observer</class>
                        <method>activeInfoPaymentRedirectMessage</method>
                    </paymentoperator_show_payment_info_block_redirect_msg>
                </observers>
            </controller_action_predispatch_checkout_onepage_progress>
            
            <!-- Save the pseudo cc data from the response  -->
            <paymentoperator_cc_pci_authorize_success>
                <observers>
                    <paymentoperator_request_success_process_response_pseudo_cc_data>
                        <class>paymentoperator/payment_observer_cc_pci</class>
                        <method>setCreditCardPaymentInformationFromResponse</method>
                    </paymentoperator_request_success_process_response_pseudo_cc_data>
                </observers>
            </paymentoperator_cc_pci_authorize_success>
            
            <!-- Backup and remove the payment data before the model are saved and restore the data after the save -->
            <sales_quote_payment_save_before>
                <observers>
                    <backup_payment_information_before_save>
                        <class>paymentoperator/payment_observer_informationcopy</class>
                        <method>backupPaymentData</method>
                    </backup_payment_information_before_save>
                </observers>
            </sales_quote_payment_save_before>
            <sales_quote_payment_save_after>
                <observers>
                    <restore_payment_informationafter_save>
                        <class>paymentoperator/payment_observer_informationcopy</class>
                        <method>restorePaymentData</method>
                    </restore_payment_informationafter_save>
                </observers>
            </sales_quote_payment_save_after>
            
            <!-- Backup and remove the payment data before the model are saved and restore the data after the save -->
            <sales_order_payment_save_before>
                <observers>
                    <backup_payment_information_before_save>
                        <class>paymentoperator/payment_observer_informationcopy</class>
                        <method>backupPaymentData</method>
                    </backup_payment_information_before_save>
                </observers>
            </sales_order_payment_save_before>
            <sales_order_payment_save_after>
                <observers>
                    <restore_payment_informationafter_save>
                        <class>paymentoperator/payment_observer_informationcopy</class>
                        <method>restorePaymentData</method>
                    </restore_payment_informationafter_save>
                </observers>
            </sales_order_payment_save_after>
            
            <!-- Sync the billpay transaction id -->
            <paymentoperator_billpay_purchaseonaccount_authorize_success>
                <observers>
                    <billpay_sync_billpay_transaction_id>
                        <class>paymentoperator/payment_observer_billpay_billpay</class>
                        <method>syncBillpayTransactionId</method>
                    </billpay_sync_billpay_transaction_id>
                </observers>
            </paymentoperator_billpay_purchaseonaccount_authorize_success>
            <paymentoperator_billpay_directdebit_authorize_success>
                <observers>
                    <billpay_sync_billpay_transaction_id>
                        <class>paymentoperator/payment_observer_billpay_billpay</class>
                        <method>syncBillpayTransactionId</method>
                    </billpay_sync_billpay_transaction_id>
                </observers>
            </paymentoperator_billpay_directdebit_authorize_success>
            <paymentoperator_billpay_ratepay_authorize_success>
                <observers>
                    <billpay_sync_billpay_transaction_id>
                        <class>paymentoperator/payment_observer_billpay_billpay</class>
                        <method>syncBillpayTransactionId</method>
                    </billpay_sync_billpay_transaction_id>
                </observers>
            </paymentoperator_billpay_ratepay_authorize_success>
            
            <!-- Sync the payment receiver informations to the payment   -->
            <paymentoperator_billpay_purchaseonaccount_capture_success>
                <observers>
                    <billpay_sync_eft_receiver_payment_information>
                        <class>paymentoperator/payment_observer_billpay_billpay</class>
                        <method>syncReciverPaymentInformation</method>
                    </billpay_sync_eft_receiver_payment_information>
                </observers>
            </paymentoperator_billpay_purchaseonaccount_capture_success>
            
            <!-- Sync the payment plan from the response -->
            <paymentoperator_billpay_ratepay_capture_success>
                <observers>
                    <billpay_sync_payment_plan>
                        <class>paymentoperator/payment_observer_billpay_ratepay</class>
                        <method>syncPaymentPlan</method>
                    </billpay_sync_payment_plan>
                </observers>
            </paymentoperator_billpay_ratepay_capture_success>
            
            <!-- Update the rate plan after refunding -->
            <paymentoperator_billpay_ratepay_refund_success>
                <observers>
                    <billpay_sync_ratepay_rate_after_refunding>
                        <class>paymentoperator/payment_observer_billpay_ratepay</class>
                        <method>syncNewRateAfterRefunding</method>
                    </billpay_sync_ratepay_rate_after_refunding>
                </observers>
            </paymentoperator_billpay_ratepay_refund_success>
            
            <!-- Extends the payment hash for billpay -->
            <paymentoperator_build_unique_payment_hash>
                <observers>
                    <billpay_add_address_information_to_payment_hash>
                        <class>paymentoperator/payment_observer_billpay_billpay</class>
                        <method>extendPaymentHash</method>
                    </billpay_add_address_information_to_payment_hash>
                </observers>
            </paymentoperator_build_unique_payment_hash>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <short_description />
                    </product_attributes>
                </item>
                <totals>
                    <billpay_ratepay_surcharge>
                        <class>paymentoperator/total_billpay</class>
                        <after>grand_total</after>
                    </billpay_ratepay_surcharge>
                    <billpay_ratepay_fee>
                        <class>paymentoperator/total_billpay</class>
                        <after>grand_total</after>
                    </billpay_ratepay_fee>
                    <billpay_ratepay_total>
                        <class>paymentoperator/total_billpay</class>
                        <after>grand_total</after>
                    </billpay_ratepay_total>
                </totals>
            </quote>
        </sales>
        <pdf>
            <totals>
                <surcharge translate="title">
                    <title>Surcharge</title>
                    <model>paymentoperator/total_pdf</model>
                    <source_field>surcharge</source_field>
                    <display_zero>0</display_zero>
                    <sort_order>780</sort_order>
                </surcharge>
                <fee translate="title">
                    <title>Fee</title>
                    <model>paymentoperator/total_pdf</model>
                    <source_field>fee</source_field>
                    <display_zero>0</display_zero>
                    <sort_order>790</sort_order>
                </fee>
                <base_billpay_grand_total translate="title">
                    <title>Base Billpay Grand Total</title>
                    <model>paymentoperator/total_pdf</model>
                    <source_field>base_billpay_grand_total</source_field>
                    <font_size>8</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>800</sort_order>
                </base_billpay_grand_total>
            </totals>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <Dotsource_Paymentoperator>
                    <files>
                        <default>Dotsource_Paymentoperator.csv</default>
                    </files>
                </Dotsource_Paymentoperator>
            </modules>
        </translate>
        <secure_url>
            <paymentoperator_callback>/paymentoperator/callback</paymentoperator_callback>
            <paymentoperator_checkout>/paymentoperator/checkout</paymentoperator_checkout>
            <paymentoperator_3dsecure>/paymentoperator/3dsecure</paymentoperator_3dsecure>
            <paymentoperator_billpay>/paymentoperator/billpay</paymentoperator_billpay>
        </secure_url>
        <routers>
            <paymentoperator>
                <use>standard</use>
                <args>
                    <module>Dotsource_Paymentoperator</module>
                    <frontName>paymentoperator</frontName>
                </args>
            </paymentoperator>
        </routers>
        <layout>
            <updates>
                <paymentoperator>
                    <file>paymentoperator.xml</file>
                </paymentoperator>
            </updates>
        </layout>
        <events>
            <checkout_quote_destroy>
                <observers>
                    <paymentoperator_clear_transaction_session>
                        <type>singleton</type>
                        <class>paymentoperator/session</class>
                        <method>clearSession</method>
                    </paymentoperator_clear_transaction_session>
                    <paymentoperator_clear_payment_deactivation>
                        <type>singleton</type>
                        <class>paymentoperator/observer</class>
                        <method>clearPaymentDeactivation</method>
                    </paymentoperator_clear_payment_deactivation>
                </observers>
            </checkout_quote_destroy>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <paymentoperator_address_check>
                        <type>singleton</type>
                        <class>paymentoperator/observer</class>
                        <method>saveBillingAddressCheck</method>
                    </paymentoperator_address_check>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
        </events>
    </frontend>
    <admin>
        <routers>
            <paymentoperator>
                <use>standard</use>
                <args>
                    <module>Dotsource_Paymentoperator</module>
                    <frontName>paymentoperator</frontName>
                </args>
            </paymentoperator>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <paymentoperator>
                    <file>paymentoperator.xml</file>
                </paymentoperator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dotsource_Paymentoperator>
                    <files>
                        <default>Dotsource_Paymentoperator.csv</default>
                    </files>
                </Dotsource_Paymentoperator>
            </modules>
        </translate>
        <events>
            <sales_order_shipment_save_before>
                <observers>
                    <check_for_purchase_on_account_shipment>
                        <type>singleton</type>
                        <class>paymentoperator/observer</class>
                        <method>onSalesOrderShipmentSaveWithPurchaseOnAccount</method>
                    </check_for_purchase_on_account_shipment>
                </observers>
            </sales_order_shipment_save_before>
        </events>
    </adminhtml>
    <default>
        <payment>
            <paymentoperator_cc>
                <model>paymentoperator/payment_cc_paymentgate</model>
                <active>0</active>
                <title>PaymentOperator Credit Card (PaymentGate)</title>
                <etm_active>0</etm_active>
                <use_pseudo_data>0</use_pseudo_data>
                <allowspecific>0</allowspecific>
                <specificcountry></specificcountry>
                <allowedcountries>allowAllCountries</allowedcountries>
                <payment_action>authorize</payment_action>
                <use_template>0</use_template>
                <logos>mastercard,visa</logos>
            </paymentoperator_cc>
            <paymentoperator_eft>
                <model>paymentoperator/payment_eft</model>
                <active>0</active>
                <title>PaymentOperator Direct Debit</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <payment_action>authorize</payment_action>
            </paymentoperator_eft>
            <paymentoperator_giropay>
                <model>paymentoperator/payment_giropay</model>
                <active>0</active>
                <title>PaymentOperator giropay</title>
                <bcn_check>1</bcn_check>
                <prefill_paymentinformation>1</prefill_paymentinformation>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <oftmethod>giropay</oftmethod>
                <payment_action>authorize</payment_action>
            </paymentoperator_giropay>
            <paymentoperator_ideal>
                <model>paymentoperator/payment_ideal</model>
                <active>0</active>
                <title>PaymentOperator iDeal</title>
                <prefill_paymentinformation>0</prefill_paymentinformation>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
                <payment_action>authorize</payment_action>
            </paymentoperator_ideal>
            <paymentoperator_directpay>
                <model>paymentoperator/payment_directpay</model>
                <active>0</active>
                <title>PaymentOperator Direct Transfer</title>
                <prefill_paymentinformation>1</prefill_paymentinformation>
                <allowspecific>1</allowspecific>
                <specificcountry>DE,AT,CH,BE,NL,GB</specificcountry>
                <payment_action>authorize</payment_action>
            </paymentoperator_directpay>
            <paymentoperator_mpass>
                <model>paymentoperator/payment_mpass</model>
                <active>0</active>
                <title>PaymentOperator mpass</title>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <payment_action_paymentoperator>authorize</payment_action_paymentoperator>
                <payment_action>authorize</payment_action>
            </paymentoperator_mpass>
            <paymentoperator_paypal_standard>
                <model>paymentoperator/payment_paypalstandard</model>
                <active>0</active>
                <title>PaymentOperator PayPal</title>
                <payment_action_paymentoperator>authorize</payment_action_paymentoperator>
                <payment_action_txtype>Order</payment_action_txtype>
                <payment_action>authorize</payment_action>
            </paymentoperator_paypal_standard>
            <paymentoperator_paypal_express>
                <model>paymentoperator/payment_paypalexpress</model>
                <active>0</active>
                <title>PaymentOperator PayPal Express</title>
                <visible_on_cart>0</visible_on_cart>
                <payment_action_paymentoperator>authorize</payment_action_paymentoperator>
                <payment_action_txtype>Order</payment_action_txtype>
                <payment_action>authorize</payment_action>
            </paymentoperator_paypal_express>
            <paymentoperator_purchase_on_account>
                <model>paymentoperator/payment_purchaseonaccount</model>
                <active>0</active>
                <payment_action>authorize_capture</payment_action>
                <title>Purchase On Account</title>
            </paymentoperator_purchase_on_account>
            <paymentoperator_click_and_buy>
                <model>paymentoperator/payment_clickandbuy</model>
                <title>PaymentOperator ClickandBuy</title>
                <active>0</active>
                <payment_action>authorize</payment_action>
                <allowspecific>1</allowspecific>
                <specificcountry>DE,AL,DK,EN,FR,IT,JP,NL,NO,PL,PT,RU,TR,SP,SE,CZ</specificcountry>
            </paymentoperator_click_and_buy>
            <paymentoperator_klarna_purchaseonaccount>
                <model>paymentoperator/payment_klarna_purchaseonaccount</model>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <title>PaymentOperator Klarna Purchase On Account</title>
                <invoice_flag>0</invoice_flag>
                <order_status>klarna_ready_for_shipping</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>SE,NO,FI,DK,DE,NL</specificcountry>
            </paymentoperator_klarna_purchaseonaccount>
            <paymentoperator_klarna_financing>
                <model>paymentoperator/payment_klarna_financing</model>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <title>PaymentOperator Klarna Financing</title>
                <invoice_flag>0</invoice_flag>
                <action_code></action_code>
                <order_status>klarna_ready_for_shipping</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>SE,NO,FI,DK,DE,NL</specificcountry>
            </paymentoperator_klarna_financing>
            <paymentoperator_billpay_purchaseonaccount>
                <model>paymentoperator/payment_billpay_purchaseonaccount</model>
                <active>0</active>
                <title>PaymentOperator Billpay Purchase On Account</title>
                <payment_action>authorize</payment_action>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <delay>0</delay>
                <differentdeliveryaddress>0</differentdeliveryaddress>
                <legal_forms>a:3:{s:18:"_1322578667207_207";a:2:{s:3:"key";s:2:"ag";s:5:"value";s:2:"AG";}s:18:"_1322578684116_116";a:2:{s:3:"key";s:4:"gmbh";s:5:"value";s:4:"GmbH";}s:18:"_1322578690745_745";a:2:{s:3:"key";s:4:"misc";s:5:"value";s:13:"Miscellaneous";}}</legal_forms>
                <min_order_total>0.00</min_order_total>
            </paymentoperator_billpay_purchaseonaccount>
            <paymentoperator_billpay_ratepay>
                <model>paymentoperator/payment_billpay_ratepay</model>
                <active>0</active>
                <title>PaymentOperator Billpay Payment By Installments</title>
                <payment_action>authorize</payment_action>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <delay>0</delay>
                <differentdeliveryaddress>0</differentdeliveryaddress>
                <min_order_total>0.00</min_order_total>
            </paymentoperator_billpay_ratepay>
            <paymentoperator_billpay_directdebit>
                <model>paymentoperator/payment_billpay_directdebit</model>
                <active>0</active>
                <title>PaymentOperator Billpay Direct Debit</title>
                <payment_action>authorize</payment_action>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <delay>0</delay>
                <differentdeliveryaddress>0</differentdeliveryaddress>
                <min_order_total>0.00</min_order_total>
            </paymentoperator_billpay_directdebit>
        </payment>
        <paymentoperator_account>
            <default>
                <baseurl>https://www.netkauf.de/paymentgate/</baseurl>
            </default>
        </paymentoperator_account>
        <paymentoperator_risk>
            <address_check>
                <active>0</active>
                <lock>0</lock>
            </address_check>
            <risk_check>
                <active>0</active>
                <min_amount>0.00</min_amount>
                <check_moment>payment</check_moment>
                <invalid_days>90</invalid_days>
                <inquiry_offices>1</inquiry_offices>
                <fallback_active>1</fallback_active>
                <fallback_cases>outside_of_germany,missing_address_check,undefined_response</fallback_cases>
            </risk_check>
        </paymentoperator_risk>
    </default>
</config>